/* */
/* */
body {
    background-color: antiquewhite;
}

h2 {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

p {
    color: rgb(61, 7, 7);
    font-family:cursive;
    font-size: medium;
    font-size: 1em;
    
    text-transform: lowercase;
}

